@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: #fdedee;
    --background-end-rgb: #e8ebf3;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Poppins", sans-serif;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.btn-1 {
  background-color: #ff385d;
  transition: background-color 0.3s ease;
  color: #ffffff;
}
.btn-1:hover {
  background-color: hsl(342, 100%, 50%); /* Darker shade */
}

.resContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .resContainer {
    max-width: 475px;
  }
}
/* sm */
@media (min-width: 640px) {
  .resContainer {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .resContainer {
    max-width: 768px;
  }
}
/* lg */
@media (min-width: 1024px) {
  .resContainer {
    max-width: 1024px;
  }
}
/* xl */
@media (min-width: 1280px) {
  .resContainer {
    max-width: 1280px;
  }
}
/* 2xl */
@media (min-width: 1536px) {
  .resContainer {
    max-width: 1536px;
  }
}
/* 3xl */
@media (min-width: 1920px) {
  .resContainer {
    max-width: 1920px;
  }
}
